* {
    padding: 0;
    margin: 40px;

    }
h2{
    font-size: 24px;
    color:blue
}
.my-class
{
   
        background-color: yellow;
    
}
#special-button {
    color: white;
    background-color: green;
    }
    a[target="_blank"] 
    {
        color:purple;
    }
    h1, h2, h3 {
        color: rgb(156, 19, 54);
        font-weight: bold;
        }
        div p {
            color: gray;
        
            }
            div li {
                font-size: 25px;
                }            
                h1 + p {
                    font-style: italic;
                    }
                    button:hover {
                        color: red;
                        }                
                        tr:nth-child(even) {
                            background-color: lightgray;
                            }
                            h1::before {
                                content: "🌟 ";
                                
                                }
h4::after{ content: "🌟 ";

}                           