*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    padding-top: 15px;
    width: 600px;
    height: 70px;
    text-align: center;
    border: solid;
    background-color: bisque;
}
.content{
    margin-top: 30px;
    text-align: center;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    background-color: aquamarine;

}
.content p{
    padding: 20px;
}
footer{
    margin-top: 20px;
    width: 600px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}