*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
         width: 600px;
         height: 400px;
         margin: 60px;
         background-color:rgb(240, 156, 30)
}
.col{
    text-align: center;
    margin-top: 70px;
    margin-right: 70px;
    padding: 30px;
    width: 400px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
       
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    text-align: center;
    background-color: orangered;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    
}