*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image{
    text-align: center;
    margin-top: 100px;
}
.back_btn{
    background-color: rgb(230, 197, 55);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}