*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(back.jpg);
    background-size: cover;
}
.container{
    width: 80%;
    border: 1px solid black;
    margin: auto;
    
}
.head{
   width: 100%;
   height: 150px;
   border: 1px solid black;
   text-align: center;
   position: relative;

}
.head h1{
    position: absolute;
    top: 40px;
    left: 350px;
    color: white;
    font-size: 3rem;
}
.content{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    margin: 20px;
    justify-content: center;
    justify-content: space-evenly;
}
.foot{
    width: 100%;
    height: 50px;
    border: 1px solid black;
 }
 .head img{
    filter: brightness(80%);
 }
 img{
    width: 100%;
    height: 100%;
 }
.box1{
    width: 300px;
    /* border: 1px solid black; */
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 40px;
    border-radius: 20px;
    background-color:  #C0C0C0;;
} 
.box2{
    width: 300px;
    /* border: 1px solid black; */
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 40px;
    border-radius: 20px;
    background-color:  #FFD700;
} 
.box3{
    width: 300px;
    /* border: 1px solid black; */
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 40px;
    border-radius: 20px;
    background-color:  #c53896;
} 
.box1:hover{
    transition: 3s;
    transform:skew(10deg);
}
.box2:hover{
    transition: 3s;
    transform:skew(10deg);
}
.box3:hover{
    transition: 3s;
    transform:skew(10deg);
}
.image img{
    /* border: 1px solid black; */
    border-radius: 10px;
    
}
.off{
    transition: 1s;
    animation: bounce 1s infinite alternate; 
    font-size: 1.3rem;
    color: rgb(9, 11, 133);
    
    
}
@keyframes bounce { 
    from { transform: translateX(-30px); } 
    to { transform: translateY(-30px); } 
} 
.fqa{
    width: 100%;
    border: 1px solid black;
    height: 200px;
}
.q1{
    width: 80%;
    background-color: rgb(190, 114, 114);
    margin-left: 100px;
    font-size: 1.5rem;
    margin-top: 20px;
}
.a1{
    background-color: rgb(51, 46, 46);
    color: white;
    line-height: 30px;
    display: none;
}
.q1:hover .a1{
    display: block;
} 
.foot{
    background-color: rgb(223, 209, 209);
}
button{
    padding: 15px;
    background-color: red;
    margin-left: 500px;
    font-size: larger;
}
button:hover{
    background-color:purple;
    transition: 1s;
    transform: scale(1.2);
    border-radius: 20px;
}

