*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.container{
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
}
.head{
    background-color: aquamarine;
    width: 81%;
    position: fixed;
}
h1{
    width: 90%;
}
a{
    text-decoration: none;
    font-size: larger;
    margin-left: 50px;
}
nav{
    margin-left: 500px;
}
.content{
    width: 90%;
    border: 1px solid black;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px;
}
.col{
    width: 20%;
    height: 180px;
    /* border: 1px solid black; */
    margin: 5px;
   
}
.image{
    height: 180px;
    border-radius: 10px;
}
img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.image:hover{
    filter:contrast(50%);
   
}