html{
    scroll-behavior: smooth;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    padding: 10px;
    height: 55vh;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 30px;
    background-color: #E6E6FA;
}
.header-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 0px 50px;
}
.image-logo{
    width: 25vw;
}
.image-logo img{
    height: 100%;
    width: 100%;
}
.items-container{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.search-container{
    position: relative;
}
.search-container input{
    background: none;
    border: 1px solid black;
    height: 8vh;
    width: 25vw;
    border-radius: 10px;
}
.search-container input::placeholder{
    color: black;
    font-size: 18px;
    padding: 10px;
}
.search-container i{
    position: absolute;
    right: 20%;
    margin-top: 4%;
}
.profile-icon a{
    color: black;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 10px;
}
.profile-icon a:hover{
    background-color: rgb(157, 151, 252);
}

nav{
    display: grid;
    grid-template-columns:1fr 2fr 2fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
nav a{
   cursor: pointer;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
nav a:hover{
    border-bottom: 2px solid black;
}
.dropdown-container{
    width: 15vw;
    position: relative;
}
.dropdown-title{
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
}
.dropdown-title:hover{
    border-bottom: 2px solid black;
}
.dropdown-list{
    background-color: #FFE5B4;;
    display: none;
    font-size: 19px;
    font-weight: 500;
    padding: 5px;
    transition: all 0.5s ease-in-out;
    position: absolute;
    z-index: 1000;
}
.dropdown-list.active{
    display: block;
}

.dropdown-list p{
    margin-top: 4%;
    padding: 3px;
}
.dropdown-list p:hover{
    background-color: #f3c061;
    cursor: pointer;
}

@media (min-width:300px) and (max-width:400px) {
    header{
    padding: 10px;
    height: 100vh;
    width: 98vw;
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: auto;
    justify-items: center;
}
.header-items{
    display: grid;
    width: 98vw;
    height: 30vh;
    grid-template-columns: 1fr;
    padding: 0px 50px;
    justify-items: center;
}
.image-logo{
    width: 50vw;
}
.items-container{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.search-container{
    position: relative;
}
.search-container input{
    background: none;
    border: 1px solid black;
    height: 8vh;
    width: 40vw;
    border-radius: 10px;
}
.search-container input::placeholder{
    color: black;
    font-size: 18px;
    padding: 10px;
}
.search-container i{
    position: absolute;
    right: 10%;
    margin-top: 8%;
}
.profile-icon a{
    color: black;
    font-size: 10px;
    padding: 8px 10px;
    border-radius: 10px;
}
nav{
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
nav a{
   cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
.dropdown-container{
    width: 90%;
}
.dropdown-title{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.dropdown-list{
    background-color: #FFE5B4;;
    display: none;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}
.dropdown-list p{
    margin-top: 4%;
    padding: 3px;
}
}

@media (min-width:401px) and (max-width:576px) {
      header{
    padding: 10px;
    height: 100vh;
    width: 98vw;
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: auto;
    justify-items: center;
}
.header-items{
    display: grid;
    width: 98vw;
    height: 30vh;
    grid-template-columns: 1fr;
    padding: 0px 50px;
    justify-items: center;
}
.image-logo{
    width: 50vw;
}
.items-container{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.search-container{
    position: relative;
}
.search-container input{
    background: none;
    border: 1px solid black;
    height: 8vh;
    width: 40vw;
    border-radius: 10px;
}
.search-container input::placeholder{
    color: black;
    font-size: 18px;
    padding: 10px;
}
.search-container i{
    position: absolute;
    right: 10%;
    margin-top: 8%;
}
.profile-icon a{
    color: black;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 10px;
}
nav{
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
nav a{
   cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
.dropdown-container{
    width: 90%;
}
.dropdown-title{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.dropdown-list{
    background-color: #FFE5B4;;
    display: none;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}
.dropdown-list p{
    margin-top: 4%;
    padding: 3px;
}  
}
@media (min-width:577px) and (max-width:768px) {
    header{
    padding: 10px;
    height: 120vh;
    width: 98vw;
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: auto;
    justify-items: center;
}
.header-items{
    display: grid;
    width: 98vw;
    height: 30vh;
    grid-template-columns: 1fr;
    padding: 0px 50px;
    justify-items: center;
}
.image-logo{
    width: 50vw;
}
.items-container{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.search-container{
    position: relative;
}
.search-container input{
    background: none;
    border: 1px solid black;
    height: 8vh;
    width: 50vw;
    border-radius: 10px;
}
.search-container input::placeholder{
    color: black;
    font-size: 18px;
    padding: 10px;
}
.search-container i{
    position: absolute;
    right: 5%;
    margin-top: 4%;
}
.profile-icon a{
    color: black;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 10px;
}
nav{
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
nav a{
   cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
.dropdown-container{
    width: 90%;
}
.dropdown-title{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.dropdown-list{
    background-color: #FFE5B4;;
    display: none;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}
.dropdown-list p{
    margin-top: 4%;
    padding: 3px;
}
}
@media (min-width:768px) and (max-width:992px) {
    header{
    padding: 10px;
    height: 130vh;
    width: 98vw;
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin: auto;
    justify-items: center;
}
.header-items{
    display: grid;
    width: 98vw;
    height: 30vh;
    grid-template-columns: 1fr;
    padding: 0px 50px;
    justify-items: center;
}
.image-logo{
    width: 50vw;
}
.items-container{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.search-container{
    position: relative;
}
.search-container input{
    background: none;
    border: 1px solid black;
    height: 8vh;
    width: 40vw;
    border-radius: 10px;
}
.search-container input::placeholder{
    color: black;
    font-size: 18px;
    padding: 10px;
}
.search-container i{
    position: absolute;
    right: 5%;
    margin-top: 4%;
}
.profile-icon a{
    color: black;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 10px;
}
nav{
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
nav a{
   cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
.dropdown-container{
    width: 90%;
}
.dropdown-title{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.dropdown-list{
    background-color: #FFE5B4;;
    display: none;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}
.dropdown-list p{
    margin-top: 4%;
    padding: 3px;
}
}
@media (min-width:992px) and (max-width:1024px) {
    header{
    padding: 10px;
    height: 55vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 30px;
    background-color: #E6E6FA;
}
.header-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 0px 50px;
}
.image-logo{
    width: 25vw;
}
.image-logo img{
    height: 100%;
    width: 100%;
}
.items-container{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.search-container{
    position: relative;
}
.search-container input{
    background: none;
    border: 1px solid black;
    height: 8vh;
    width: 25vw;
    border-radius: 10px;
}
.search-container input::placeholder{
    color: black;
    font-size: 18px;
    padding: 10px;
}
.search-container i{
    position: absolute;
    right: 20%;
    margin-top: 4%;
}
.profile-icon a{
    color: black;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 10px;
}
.profile-icon a:hover{
    background-color: rgb(157, 151, 252);
}

nav{
    display: grid;
    grid-template-columns:1fr 2fr 2fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
nav a{
   cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none; 
    color: black;
}
nav a:hover{
    border-bottom: 2px solid black;
}
.dropdown-container{
    width: 15vw;
}
.dropdown-title{
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.dropdown-title:hover{
    border-bottom: 2px solid black;
}
.dropdown-list{
    background-color: #FFE5B4;;
    display: none;
    font-size: 19px;
    font-weight: 500;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}
.dropdown-list.active{
    display: block;
}

.dropdown-list p{
    margin-top: 4%;
    padding: 3px;
}
.dropdown-list p:hover{
    background-color: #f3c061;
    cursor: pointer;
}
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.content-container{
    background-color: #E6E6FA;
    width: 98vw;
    height: 130vh;
    margin: auto;
}
.contents{
    width: 85vw;
    margin: auto;
    height: 100vh;
    position: relative;
    top: 3%;
}
.cont-1{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 500;
}
@media (min-width: 300px) and (max-width: 600px) {
  .content-container {
    width: 95vw;
    height: auto;
    padding: 10px;
  }

  .contents {
    width: 90vw;
    top: 0;
    height: auto;
  }

  .cont-1 {
    font-size: 16px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .content-container {
    width: 98vw;
    height: auto;
    padding: 15px;
  }

  .contents {
    width: 90vw;
    top: 2%;
    height: auto;
  }

  .cont-1 {
    font-size: 18px;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .content-container {
    width: 98vw;
    height: auto;
    padding: 20px;
  }

  .contents {
    width: 90vw;
    top: 2%;
    height: auto;
  }

  .cont-1 {
    font-size: 19px;
  }
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer{
    background-color: #FFE5B4;
    height: 90vh;
    width: 98vw;
    margin: auto;
}
.foooter-container{
    height: 60vh;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    padding: 20px;
    gap:5%;
}
.footer-col1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}
.footer-logo{
    width: 15vw;
}
.footer-logo img{
    height: 100%;
    width: 100%;
}
.footer-col1-para{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.footer-col2{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col2 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.footer-col2 a:hover{
    color: white;
}
.footer-col3{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col3 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.footer-col3 a:hover{
    color: white;
}

.footer-col4{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col4 p{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.footer-socialmedia{
    width: 98vw;
    height: 13vh;
    display: flex;
    padding: 10px 30px;
    gap: 1%;
    border-bottom: 1px solid gray;
    align-items: center;
}
.socialmedia-images{
    width: 3vw;
    height: 6vh;
}
.socialmedia-images img{
    height: 100%;
    width: 100%;
}
.footer-content{
    height: 17vh;
    width: 98vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width:300px) and (max-width:400px) {
    footer{
    background-color: #FFE5B4;
    height: 180vh;
    width: 98vw;
    margin: auto;
}
.foooter-container{
    height: 60vh;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap:5%;
}

footer h1{
    font-size: 15px;
}
.footer-col1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
}
.footer-logo{
    width: 30vw;
}
.footer-logo img{
    height: 100%;
    width: 100%;
}
.footer-col1-para{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.footer-col2{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
    justify-items: center;
}
.footer-col2 a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}
.footer-col2 a:hover{
    color: white;
}
.footer-col3{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
    justify-items: center;
}
.footer-col3 a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}
.footer-col3 a:hover{
    color: white;
}

.footer-col4{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
    justify-items: center;
}
.footer-col4 p{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

.footer-socialmedia{
    width: 98vw;
    height: 13vh;
    display: flex;
    padding: 10px 30px;
    gap: 1%;
    border-bottom: 1px solid gray;
    align-items: center;
    position: relative;
    top: 50%;
    justify-items: center;
    justify-content: center;
}
.socialmedia-images{
    width: 8vw;
    height: 6vh;
}
.socialmedia-images img{
    height: 100%;
    width: 100%;
}
.footer-content{
    height: 17vh;
    width: 98vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 50%;
}
.footer-content p{
    text-align: center;
}
}
@media (min-width:401px) and (max-width:576px) {
    footer{
    background-color: #FFE5B4;
    height: 250vh;
    width: 98vw;
    margin: auto;
}
.foooter-container{
    height: 60vh;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap:5%;
}
.footer-col1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
}
.footer-logo{
    width: 30vw;
}
.footer-logo img{
    height: 100%;
    width: 100%;
}
.footer-col1-para{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.footer-col2{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
    justify-items: center;
}
.footer-col2 a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.footer-col2 a:hover{
    color: white;
}
.footer-col3{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
    justify-items: center;
}
.footer-col3 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.footer-col3 a:hover{
    color: white;
}

.footer-col4{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
    justify-items: center;
}
.footer-col4 p{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.footer-socialmedia{
    width: 98vw;
    height: 13vh;
    display: flex;
    padding: 10px 30px;
    gap: 1%;
    border-bottom: 1px solid gray;
    align-items: center;
    position: relative;
    top: 60%;
    justify-content: center;
}
.socialmedia-images{
    width: 3vw;
    height: 6vh;
}
.socialmedia-images img{
    height: 100%;
    width: 100%;
}
.footer-content{
    height: 17vh;
    width: 98vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 60%;
    text-align: center;
}
}
@media (min-width:577px) and (max-width:768px) {
    footer{
    background-color: #FFE5B4;
    height: 130vh;
    width: 98vw;
    margin: auto;
}
.foooter-container{
    height: 60vh;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    padding: 20px;
    gap:3%;
}
footer h1{
    font-size: 18px;
}
.footer-col1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}
.footer-logo{
    width: 15vw;
}
.footer-logo img{
    height: 100%;
    width: 100%;
}
.footer-col1-para{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.footer-col2{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col2 a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.footer-col2 a:hover{
    color: white;
}
.footer-col3{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col3 a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.footer-col3 a:hover{
    color: white;
}

.footer-col4{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col4 p{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 600;
}

.footer-socialmedia{
    width: 98vw;
    height: 13vh;
    display: flex;
    padding: 10px 30px;
    gap: 1%;
    border-bottom: 1px solid gray;
    align-items: center;
    position: relative;
    top: 30%;
}
.socialmedia-images{
    width: 3vw;
    height: 6vh;
}
.socialmedia-images img{
    height: 100%;
    width: 100%;
}
.footer-content{
    height: 17vh;
    width: 98vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 30%;
}
}
@media (min-width:769px) and (max-width:992px) {
    footer{
    background-color: #FFE5B4;
    height: 130vh;
    width: 98vw;
    margin: auto;
}
footer h1{
    font-size: 20px;
}
.foooter-container{
    height: 60vh;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr;
    padding: 20px;
    gap:1%;
}
.footer-col1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}
.footer-logo{
    width: 20vw;
}
.footer-logo img{
    height: 100%;
    width: 100%;
}
.footer-col1-para{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.footer-col2{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col2 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.footer-col2 a:hover{
    color: white;
}
.footer-col3{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col3 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.footer-col3 a:hover{
    color: white;
}

.footer-col4{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col4 p{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.footer-socialmedia{
    width: 98vw;
    height: 13vh;
    display: flex;
    padding: 10px 30px;
    gap: 1%;
    border-bottom: 1px solid gray;
    align-items: center;
    position: relative;
    top: 20%;
}
.socialmedia-images{
    width: 3vw;
    height: 6vh;
}
.socialmedia-images img{
    height: 100%;
    width: 100%;
}
.footer-content{
    height: 17vh;
    width: 98vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 20%;
}
}
@media (min-width:993px) and (max-width:1200px) {
    footer{
    background-color: #FFE5B4;
    height: 130vh;
    width: 98vw;
    margin: auto;
}
.foooter-container{
    height: 60vh;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    padding: 20px;
    gap:5%;
}
.footer-col1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}
footer h1{
    font-size: 25px;
}
.footer-logo{
    width: 15vw;
}
.footer-logo img{
    height: 100%;
    width: 100%;
}
.footer-col1-para{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.footer-col2{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col2 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.footer-col2 a:hover{
    color: white;
}
.footer-col3{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col3 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.footer-col3 a:hover{
    color: white;
}

.footer-col4{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    margin-top: 4%;
}
.footer-col4 p{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.footer-socialmedia{
    width: 98vw;
    height: 13vh;
    display: flex;
    padding: 10px 30px;
    gap: 1%;
    border-bottom: 1px solid gray;
    align-items: center;
    position: relative;
    top: 20%;
}
.socialmedia-images{
    width: 3vw;
    height: 6vh;
}
.socialmedia-images img{
    height: 100%;
    width: 100%;
}
.footer-content{
    height: 17vh;
    width: 98vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 20%;
}
}