*{
    margin: 0;
    padding: 0;
}
.card{
    text-align: center;
    width: 80%;
    height: 50%px;
    background-color: lightblue;
}
.details h2{
    color: blueviolet;
    font-size: 5vmin;
}
.details h3{
    color: rgb(125, 47, 197);
    font-size: 5vmax;
}
p{
    font-size: 23px;
    letter-spacing: 1px;
}